body {
  /*background-image: url("http://blog.athomearkansas.com/sites/athomearkansas.com/files/images/2/gallery_images/pug-n-shelves.jpg");*/
  background-color: #B3CCE1;
}

.footer {
  background-color: #2D475C;
}

.footerText {
    color: white;
  margin: 0 auto;
}

.center {
  text-align: center;
  color: white;
}
